@media screen and (min-width: 1024px)  { 
    .sqr1{
    width:  33vw;
    height: 33vw;
    background-color: red;
    }
    .sqr2{
    width:  33vw;
    height: 33vw;
    background-color: green;
    }
    .sqr3{
    width:  33vw;
    height: 33vw;
    background-color: orange;
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px){
    .sqr1{
    width:  50vw;
    height: 50vw;
    background-color: red;
    }
    .sqr2{
    width:  50vw;
    height: 50vw;
    background-color: green;
    }
    .sqr3{
    width:  50vw;
    height: 50vw;
    background-color: orange;
    }
}
@media screen and (min-width: 320px) and (max-width: 600px){
    .sqr1{
    width:  100vw;
    height: 100vw;
    background-color: red;
    }
    .sqr2{
    width:  100vw;
    height: 100vw;
    background-color: green;
    }
    .sqr3{
    width:  100vw;
    height: 100vw;
    background-color: orange;
    }
}